<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="rev-wirte-container">
				<h1>문의 내용</h1>
				<br>
				<div class="pur-rev-write">
				</div>
		        <div class="rev-group">
				    <label><span class="dot"></span>문의분류</label>
				    <div>
				    	분류
				    </div>
				</div>
				<div class="rev-group rev-select">
				    <label for="category"><span class="dot"></span>내용</label>
				    <div>
						내용이당
				   </div>
				</div>
		        <div class="write-btn-div">
					<button type="button" class="pur-Rev-btn">목록으로</button>
		        </div>
			</div>
		</article>
	</section>
</th:block>