<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="login-container">
				<h2>로그인</h2>
		        <form th:action="@{/login}" method="post">
		            <div class="input-container">
			            <label for="username">아이디</label>
			           	<input type="text" id="username" name="username" placeholder="아이디를 입력해주세요" required>
						<i data-feather="x" class="input-icon" onclick="clearInput('username')"></i>
		            </div>
		            <div class="input-container">
		                <label for="password">비밀번호</label>
		                <input type="password" id="password" name="password" placeholder="비밀번호" required>
		                <i data-feather="eye" class="input-icon" onclick="togglePassword()"></i>
		            </div>
		            <div class="options">
		                <label>
		                    <input type="checkbox" name="remember"> 아이디 저장
		                </label>
		                <a th:href="@{/find}">아이디/비밀번호 찾기</a>
						<a th:href="@{/signup}">회원가입</a>
		            </div>
		            <button type="submit" class="login-button">로그인</button>
		        </form>
		        
		        <div class="login-api-text">
			        <span>다른 방법으로 로그인</span>
		        </div>
		        
		        <div class="login-api-icon">
			        <div class="kakao-login">
			            <a href="javascript:void(0)">
			            	<img th:src="@{/images/img_kakao.png}" alt="kakao">
			            	<br/>
			            	KAKAO 
			            </a>
			        </div>
			        
			        <div class="google-login">
			            <a href="javascript:void(0)">
			            	<img th:src="@{/images/img_google.png}" alt="google">
			            	<br/>
			            	Google 
			            </a>
			        </div>
		        </div>
	        </div>
		</article>
	</section>
</th:block>