<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="order-container">
				<h2>주문내역을 확인해주세요.</h2>
				<div class="order-group">
					<div class="order-content">
						<p>선택 기기</p>
						<span th:text="${intmKorNm}"></span>

					</div>

					<div class="order-content">
						<p>선택 컬러</p>
						<span th:text="${cliColor}"></span>
					</div>

					<div class="order-content">
						<p>선택 용량</p>
						<span th:text="${cliCpcty}"></span>
					</div>
				</div>

				<h2>배송지 정보를 확인해주세요.</h2>
				<div class="order-group">
					<div class="shippingInfo-content">
						<div class="zip-group">
							<input type="text" id="zipcode" th:value="${ChZip}" placeholder="우편번호" readonly>
							<button type="button" onclick="daumPostCode()">수정하기</button>
						</div>
						<input type="text" id="address1" th:value="${ChAddress1}" placeholder="기본 주소" readonly>
						<input type="text" id="address2" th:value="${ChAddress2}" placeholder="상세 주소를 입력해주세요." readonly>
					</div>

					<div class="shippingInfo-content">
						<p>받으시는 분</p>
						<span th:text="${ChName}"></span>
					</div>

					<div class="shippingInfo-content">
						<p>받으시는 분 연락처</p>
						<span th:text="${AllPhone}"></span>
					</div>
				</div>
				
				<button class="btn-order">결제하기</button>
			</div>
		</article>
	</section>
</th:block>


<th:block layout:fragment="script">
	<script th:src="@{/js/order.js}" ></script>
</th:block>

</html>