<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="productDetail-container">
				<form th:action="@{/authenticate}" method="POST">
					<div class="image-content">
						<img th:src="@{'/' + ${product.intmImgs[0].ImgPath}}" th:alt="${product.IntmKorNm}">
					</div>
	
					<div class="info-content">
						<h2 th:text="${product.IntmKorNm}" name="intmKorNm"></h2>
						<input type="hidden" th:value="${product.IntmKorNm}" name="intmKorNm">
						
						<p>색상</p>
						<div class="info-capacities">
						    <label th:each="color, colorOption : ${product.intmModelColor}" 
						           th:class="${color == 'black'} ? 'black' : (${color == 'mint'} ? 'mint' : 'green')">
						        <input type="radio" class="color" name="color" th:value="${color}" th:checked="${colorOption.index == 0}">
						        <span th:text="${color}"></span>
						    </label>
						</div>
	
	
						<p>저장공간</p>
						
						<div class="info-capacities">
							<label th:each="capacity, option : ${product.IntmGB}">
							    <input type="radio" class ="option" name="option" th:value="${option.index == 0 ? '128GB' : '256GB'}" th:checked="${option.index == 0}">
							    <span th:text="${capacity}"></span>
							</label>
						</div>
	
						<div class="info-plan">
							<h2 class="priceDisplay" th:each="price, priceList : ${product.IntmPrice}" th:data-value="${priceList.index}" 
	        					th:text="'월 ' + ${#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')} + '원'"></h2>
	        					
	        				<input type="hidden" id="selectedPriceList" name="priceList" th:value="'월 ' + ${#numbers.formatDecimal(product.IntmPrice[0], 0, 'COMMA', 0, 'POINT')} + '원'">
						</div>
	
						<div class="detail-btn">
							<button type="button" class="cart">장바구니</button>
							<button type="button"  th:if="${isLiked != null && isLiked == true}" class="btnLike red" th:attr="data-product-id=${product.id}" th:onclick="|clickLiked(event, ${product.id})|")>
											<p>찜하기</p>
											<i class="heart" data-feather="heart"></i>
							</button>
							<button type="button"  th:if="${isLiked == null && isLiked != true}" class="btnLike" th:attr="data-product-id=${product.id}" th:onclick="|clickLiked(event, ${product.id})|")>
											<p>찜하기</p>
											<i class="heart" data-feather="heart"></i>
							</button>
						</div>
						<button class="order">온라인 주문</button>
					</div>
				
				</form>
				<div class="info-detail">
					
				</div>
			</div>
		</article>
	</section>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/product.js}" ></script>
</th:block>

</html>