<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="product-container">
				<div class="product-context">
					<h2>모바일 기기</h2>
					<div>
						<ul class="category-list">
							<li><a th:href="@{/product?sortBy=createdAt}" th:class="${sortBy == 'createdAt' ? 'active' : ''}">최신순</a></li>
        					<li><a th:href="@{/product?sortBy=intmPriceDesc}" th:class="${sortBy == 'intmPriceDesc' ? 'active' : ''}">낮은가격순</a></li>
        					<li><a th:href="@{/product?sortBy=intmPrice}" th:class="${sortBy == 'intmPrice' ? 'active' : ''}">높은가격순</a></li>
						</ul>
					</div>
				</div>

				<div class="product-item-list">
					<ul>
						<li th:each="product : ${product}" class="product-item">
							<a th:href="@{'/productDetail/' + ${product.id}}">
								<div class="thumb">
									<img th:src="@{'/' + ${product.intmImgs[0].ImgPath}}" th:alt="${product.IntmKorNm}">
								</div>
								<div class="cont">
									<div class="title">
										<h3 th:text="${product.IntmKorNm}"></h3>
									</div>
									<div class="cont-info">
										<p class="item-capacity">
											<span th:each="capacity : ${product.IntmGB}" class="capacity-con" th:text="${capacity}"></span>
										</p>
										<p class="dsc-item">
											<span class="dsc-title">휴대폰</span>
											<span class="dsc-cont"
												th:text="${#numbers.formatDecimal(product.IntmPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
										</p>
										<p class="dsc-item" th:if="${ratePlanOpnYn} == 'Y'">
					                        <span class="dsc-title">요금</span>
					                        <span class="dsc-cont" th:text="${product.fee} + '원/월'"></span>
					                    </p>
									</div>
									<div class="final-price">
										<span class="price-cont">
											<em class="num"
												th:text="${#numbers.formatDecimal(product.intmPrice[0], 0, 'COMMA', 0, 'POINT')}"></em><em
												class="unit"> 원/월</em>
										</span>
									</div>
								</div>
							</a>
						</li>
					</ul>

				</div>
				
				
				<div>
				    <ul class="pagination">
				        <li th:class="${currentPage == 0} ? 'disabled' : ''">
				            <a th:href="@{/product(page=${currentPage - 1}, size=${size}, sort=${sortBy})}">&lt;</a>
				        </li>
				        
				        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == pageNumber} ? 'active' : ''">
				            <a th:href="@{/product(page=${pageNumber}, size=${size}, sort=${sortBy})}" th:text="${pageNumber + 1}"></a>
				        </li>
				        
				        <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
				            <a th:href="@{/product(page=${currentPage + 1}, size=${size}, sort=${sortBy})}">&gt;</a>
				        </li>
				    </ul>
				</div>

			</div>
		</article>
	</section>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/product.js}" ></script>
</th:block>


</html>
