<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="rev-wirte-container">
				<h1>구매 후기</h1>
				<div>
					<div>
						<div class="pur-rev-write">
						</div>
						<form th:action="@{/purRevView/{id}}" method="post" th:object="${purRevBoard}" id="pur-rev-Write-form"  autocomplete="off" enctype="multipart/form-data">
					        <div class="rev-group">
							    <label><span class="dot"></span>작성자</label>
							    <div class="input-writer">
							    	<input type="text" th:placeholder="${purRevBoard.writer}" th:value="${purRevBoard.writer}" name="writer" id="writer" readonly>
							    </div>
							</div>
							<div class="rev-group rev-select">
							    <label for="category"><span class="dot"></span>상품명</label>
							    <div class="input-writer">
									<input type="text" th:placeholder="${purRevBoard.intmNm}" th:value="${purRevBoard.intmNm}" name="intmNm" id="intmNm" readonly>
							   </div>
							</div>
					        <div class="rev-group">
					            <label><span class="dot"></span>제목</label>
					            <div class="rev-title-content">
						            <input type="text" th:value="${purRevBoard.boardTitle}" id = "rev-title-input" disabled>
					            </div>
					        </div>
					        <div class="rev-group">
					            <label><span class="dot"></span>구매후기내용</label>
					            <div class = "rev-textarea">
					            	<textarea class="form-control" id="content" name="content" disabled>[[${purRevBoard.boardDetail}]]</textarea>
								</div>
					        </div>
							<div class="rev-group file-div">
					            <label>
									<span class="dot"></span>첨부파일
								</label>
								<div class="saved-img-list">
									<div class="file-img-group">
									    <div class="saved-img" th:each="files : ${purRevAttachment}">
									        <img th:src="|/files/${files.id}|" th:if="${files} != null" alt="이미지" class="img-item" name="imgItem" th:attr=data-id=${files.id}>
									        <i data-feather="x" class="img-del-btn" name="imgItem" style="display:none" th:attr=data-btn=${files.id} th:onclick="|deleteImage(${files.id})|"></i>
									    </div>
									</div>
								    <span class="image-preview-container"id="image-preview-container"></span>
								    <div class="file-group" id="file-group" style="display:none">
								    	<label><i data-feather="file-plus" ></i>
								    		<span>첨부파일</span>
								    		<input type="file" class="img-attachment" name="files" accept=".jpg, .jpeg, .png, .pdf"  multiple="multiple" onchange="displaySelectedImages(this);"/>
										</label>
									</div>
								</div>
					        </div>	
					        <div class="write-btn-div">
								<button type="button" class="pur-Rev-btn" id="edit-button" th:if="${(custId == sessionId) && sessionId != null}" onclick="enableEdit()" value="수정">수정</button>
								<button type="button" class="pur-Rev-btn" id="complete-button" style="display: none;" th:if="${(custId == sessionId) && sessionId != null}" th:onclick="|completeEdit(${id})|"value="수정완료">수정완료</button>
								<button type="button" class="pur-Rev-btn" th:if="${(custId == sessionId) && sessionId != null}" th:onclick="|removeReview(${id})|" value="삭제">삭제</button>
								<button type="button" class="pur-Rev-btn" value="나가기" onclick="goBack()">나가기</button>
					        </div>
					    </form>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/purRevBoard.js}" ></script>
</th:block>
</html>