<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="rev-wirte-container">
				<div style="height: 800px">
					<div>
						<h1>구매 후기 게시판</h1>
						<div class="pur-rev-write">
						</div>
						<br>
						<br>
						<div id="board-search">
							<div>
								<div class="rev-search">
									<form th:action="@{/purRevBoard/**}" method="get">
										<div class="search-wrap">
											<label for="search" class="rev-blind">구매후기 검색</label> 
											<select id="catgo" name="catgo">
												<option value="title">글제목</option>
												<option value="name">작성자</option>
											</select>
											<input type=text size=45 placeholder="검색어를 입력해주세요." name="keyWord">
											<button type="submit" class="rev-search-btn">검색</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<br>
						<br>
						<!-- board list area -->
						<div class="rev-wirte-container">
							<table class ="board-table">
								<thead>
									<tr>
										<th scope="col" class="th-num">번호</th>
										<th scope="col" class="th-prodNm">상품명</th>
										<th scope="col" class="th-title" name="boardTitle">글제목</th>
										<th scope="col" class="th-writer" name="writer">작성자</th>
										<th scope="col" class="th-date">작성일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="purRevBoard : ${purRevBoardList}">
										<td th:text="${purRevBoard.id}">1</td>
										<td th:text="${purRevBoard.intmNm}">갤럭시A32</td>
										<td><a th:href="@{'/purRevBoard/purRevWrite(id=${purRevBoard.id})}"  th:text="${purRevBoard.boardTitle}">테스트후기</a></td>
										<td th:text="${purRevBoard.writer}">작성자나야나</td>
										<td th:text="${#temporals.createDate(purRevBoard.boardDate, 'yyyyMMdd')}">20230914</td>				
									</tr>
								</tbody>
							</table>
							<br/>
						    <div th:if="${!purRevBoardList.isEmpty()}" class="mov-page">
						        <ul class="pagination"
						            th:with="
						                pageNumber = ${purRevBoardList.pageable.pageNumber},
						                pageSize = ${purRevBoardList.pageable.pageSize},
						                totalPages = ${purRevBoardList.totalPages},
						                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
						                tempEndPage = ${startPage + pageSize - 1},
						                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">
									<!-- 이전 버튼 -->
						            <li th:classappend="${purRevBoardList.first} ? 'disabled'" class="page-item">
						                <a class="page-link" th:if="${param.keyword == null}" th:href="${purRevBoardList.first} ? '#' : @{/purRevBoard/(page=${pageNumber - 1})}" aria-label="Previous">
						                    <span aria-hidden="true">&lt;</span>
						                </a>
						                <a class="page-link" th:if="${param.keyword != null}" th:href="${purRevBoardList.first} ? '#' : @{/purRevBoard/(page=${pageNumber - 1}, keyword=${param.keyword})}" aria-label="Previous">
						                    <span aria-hidden="true">&lt;</span>
						                </a>
						            </li>
									<!-- 페이지 숫자 -->
						            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
						                <a th:text="${page}" th:if="${param.keyword == null}" class="page-link" th:href="@{/purRevBoard/(page=${page - 1})}"></a>
						                <a th:text="${page}" th:if="${param.keyword != null}" class="page-link" th:href="@{/purRevBoard/(page=${page - 1}, keyword=${param.keyword})}"></a>
						            </li>
									<!-- 다음 버튼 -->
						            <li th:classappend="${purRevBoardList.last} ? 'disabled'" class="page-item">
						                <a class="page-link" th:if="${param.keyword == null}" th:href="${purRevBoardList.last} ? '#' : @{/purRevBoard/(page=${pageNumber + 1})}" aria-label="Next">
						                    <span aria-hidden="true">&gt;</span>
						                </a>
						                <a class="page-link" th:if="${param.keyword != null}" th:href="${purRevBoardList.last} ? '#' : @{/purRevBoard/(page=${pageNumber + 1}, keyword=${param.keyword})}" aria-label="Next">
						                    <span aria-hidden="true">&gt;</span>
						                </a>
						            </li>
						        </ul>
						    </div>
							<div class="write-btn-div">
								<a th:href="@{/purRevWrite}" class="pur-Rev-btn">글쓰기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>