<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="rev-wirte-container">
				<h1>구매 후기 작성</h1>
				<div>
					<div>
						<div class="pur-rev-write">
						</div>
						<form th:action="@{/purRevWrite}" th:method="post" id="pur-rev-Write-form" autocomplete="off" enctype="multipart/form-data">
					        <div class="rev-group">
							    <label><span class="dot"></span>작성자</label>
							    <div class="input-writer">
							    	<input type="text" th:placeholder="${custNm}" th:value="${custNm}" name="writer" id="writer" readonly>
							    </div>
							</div>
							<div class="rev-group rev-select">
							    <label for="category"><span class="dot"></span>상품명</label>
							    <div class="rev-select-wrapper">
							        <select id="category" name="category" required>
							            <option value="placeholder" disabled selected>카테고리 선택</option>
							        </select>
							        <div class="rev-select-selected">카테고리 선택</div>
							        <div class="rev-select-items">
							            <div th:each="intm : ${intm}" th:text="${intm.intmKorNm}"></div>
							        </div>
							   </div>
							</div>
							<input type="hidden" id="selectedCategory" name="selectedCategory">
					        
					        <div class="rev-group">
					            <label><span class="dot"></span>제목</label>
					            <div class="rev-title-content">
						            <input type="text" name="title">
					            </div>
					        </div>
					        <div class="rev-group">
					            <label><span class="dot"></span>구매후기내용</label>
					        	<div class="rev-textarea">
						            <textarea maxlength="2000" placeholder="구매 후기를 작성해 주세요." name="contents"></textarea>
								</div>
					        </div>
					        <div class="rev-group file-div">
					            <label>
									<span class="dot"></span>첨부파일
								</label>
								<div class="file-image-list">
					                <span class="image-preview-container"id="image-preview-container"></span>
								    <div class="file-group" id="file-group">
								    	<label><i data-feather="file-plus" ></i>
								    		<span>첨부파일</span>
								    		<input type="file" class="img-attachment" name="files" accept=".jpg, .jpeg, .png, .pdf"  multiple="multiple" onchange="displaySelectedImages(this);"/>
										</label>
									</div>
					            </div>
					        </div>
					        <div class="write-btn-div">
					        	<button type="submit" class="btn-submit" onclick="return validateForm()">확인</button>
					        	<button type="button" class="btn-submit" onclick="goBack()">취소</button>
					        </div>
					    </form>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/purRevBoard.js}" ></script>
</th:block>
</html>