<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="rev-wirte-container">
				<h1>구매 후기</h1>
				<div>
					<div>
						<div class="pur-rev-write">
						</div>
						<form th:action="@{/purRevView/{id}}" method="post" th:object="${purRevBoard}" id="pur-rev-Write-form">
					        <div class="rev-group">
							    <label><span class="dot"></span>작성자</label>
							    <div class="input-writer">
							    	<input type="text" th:placeholder="${purRevBoard.writer}" th:value="${purRevBoard.writer}" name="writer" id="writer" readonly>
							    </div>
							</div>
							<div class="rev-group rev-select">
							    <label for="category"><span class="dot"></span>상품명</label>
							    <div class="input-writer">
									<input type="text" th:placeholder="${purRevBoard.intmNm}" th:value="${purRevBoard.intmNm}" name="intmNm" id="intmNm" readonly>
							   </div>
							</div>
					        <div class="rev-group">
					            <label><span class="dot"></span>제목</label>
					            <div class="rev-title-content" style="flex:none;">
						            <input type="text" th:placeholder="${purRevBoard.boardTitle}" th:value="${purRevBoard.boardTitle}" id = "rev-title-input" disabled>
					            </div>
					        </div>
					        <div class="rev-group">
					            <label><span class="dot"></span>구매후기내용</label>
					            <textarea class="form-control" id="content" name="content" disabled>[[${purRevBoard.boardDetail}]]</textarea>
					        </div>
					        <div class="rev-group file-div">
					            <label><span class="dot"></span>첨부파일</label>
					            <div class="rev-file-content" style="flex:none;">
									<!--<input type="file" name="file" >-->
								</div>
					        </div>
					        <div class="write-btn-div">
								<button type="button" class="pur-Rev-btn" id="edit-button" th:if="${(purRevBoard.writer == custId) && custId != null}" onclick="enableEdit()"value="수정">수정</button>
								<button type="button" class="pur-Rev-btn" id="complete-button" style="display: none;" th:if="${(purRevBoard.writer == custId) && custId != null}" th:onclick="|completeEdit(${id})|"value="수정완료">수정완료</button>
								<button type="button" class="pur-Rev-btn" th:if="${(purRevBoard.writer == custId) && custId != null}" onclick="enableEdit()" value="삭제">삭제</button>
								<button type="button" class="pur-Rev-btn" value="나가기" onclick="goBack()">나가기</button>
					        </div>
					    </form>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/purRevBoard.js}" ></script>
</th:block>
</html>