<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
	<header class="header">
		<div class="header-content">

			<div class="logo">
				<a th:href="@{/}">
					<img th:src="@{/images/MZ_logo.png}" alt="Logo">
				</a>
			</div>

			<div class="menu">
				<ul class="menu-list">
					<li><a th:href="@{/product}">모바일기기</a></li>
					<li><a th:href="@{/phoneplan}">모바일 요금제</a></li>
					<li><a th:href="@{/support}">고객지원</a></li>
					<li><a th:href="@{/purRevBoard}">구매후기</a></li>
				</ul>
			</div>

			<div class="icons">
				<a th:href="@{/cart}">
					<i data-feather="shopping-cart"></i>
				</a>

				<a sec:authorize="isAnonymous() and !hasRole('ROLE_ADMIN')" th:href="@{/login}">
					<i data-feather="user"></i>
				</a>

				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">
					<i data-feather="user"></i>
				</a>

				<a sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')" th:href="@{/myPage}">
					<i data-feather="user"></i>
				</a>

				<a class="logout" sec:authorize="isAuthenticated()" th:href="@{/logout}">
					<i data-feather="log-out"></i>
				</a>

				<div class="hamburger-menu">
					<a th:attr="href=${null}" onclick="toggleMenu()">
						<i data-feather="menu"></i>
					</a>
				</div>

			</div>


			<!-- 모바일용 메뉴 -->
			<div class="mobile-menu">
				<div class="mobile-icons">
					<div class="mobile-user">
						<a th:href="@{/cart}">
							<i data-feather="shopping-cart"></i>
						</a>
						<a sec:authorize="isAnonymous()" th:href="@{/login}">
							<i data-feather="user"></i>
						</a>

						<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">
							<i data-feather="user"></i>
						</a>
		
						<a sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')" th:href="@{/myPage}">
							<i data-feather="user"></i>
						</a>

						<a class="logout" sec:authorize="isAuthenticated()" th:href="@{/logout}">
							<i data-feather="log-out"></i>
						</a>
					</div>
					<div class="mobile-menu-close" onclick="closeMenu()">
						<i data-feather="x"></i>
					</div>
				</div>
				<ul class="menu-list">
					<li><a th:href="@{/product}">모바일기기</a></li>
					<li><a th:href="@{/phoneplan}">모바일 요금제</a></li>
					<li><a th:href="@{/support}">고객지원</a></li>
					<li><a th:href="@{/purRevBoard}">구매후기</a></li>
				</ul>
			</div>
		</div>
	</header>

</th:block>

</html>