.login-article {
	padding: 5rem 0;
}

.login-container {
	margin: 0 auto;
	max-width: 450px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-container input {
	flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container .input-icon {
    position: absolute;
    right: 10px;
    top: 55%;
    color: #888;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
	flex-grow: 1;
    font-size: 14px;
    color: #666;
}

.options a {
    font-size: 14px;
    color: #333;
}

.options a:not(:last-child)::after {
    content: "|";
    margin: 0 10px;
    color: #333;
}

.login-button {
    display: block;
    width: 100%;
    background-color: #33A188;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 40px;
}

.login-button:hover {
    background-color: #FFA200;
}


.login-api-text {
    position: relative;
    text-align: center;
    margin: 30px 0;
    background-color: #fff;
}

.login-api-text::after {
	
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #888;
	
}
.login-api-text span{
	position: relative;
    background: #fff;
    padding: 0 20px;
    z-index: 1;
}

.login-api-icon {
	display: flex;
    justify-content: center;
	text-align: center;
}

.kakao-login, .google-login {
	width: 12%;
	margin: 0 28px;
}

.kakao-login a, .google-login a {
	font-size: 0.8rem;
	color: #000; 
}