/* authenticate */

.authenticate-container h2 {
	margin-bottom: 20px;
}

.authenticate-container .authenticate-group {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #e3e8ec;
}

.authenticate-container label {
    flex: 1.5;
    font-weight: bold;
}

.authenticate-container .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ff3c3c;
    vertical-align: top;
    margin: 10px 10px 10px 0;
}

.authenticate-container .authenticate-content {
    display: flex;
    flex: 2;
    align-items: center;
}

.authenticate-container .authenticate-content input {
    flex: 1;
    width: 100%;
    padding: 15px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.authenticate-container .authenticate-content #residentNumber2 {	
	flex: 0.1;
}

.authenticate-container .authenticate-content .dot-mask  {
    margin-left: 8px;
    letter-spacing: 8px;
}

.masked-input {
    letter-spacing: 4px; 
    font-family: monospace; 
}

#residentNumber3::after {
    content: "******";
    color: black; 
}

.address-content {
	gap: 10px 0;
	flex-direction: column;
    justify-content: space-between;
}

.zip-group {
  	width: 100%;
  	display: flex;
  	gap: 0 10px;
  	justify-content: space-between;
}

.zip-group button {
	border: none;
	border-radius: 5px;
	background: #33A188;
	color:#fff;
	cursor: pointer;
	padding: 5px;
	transition: 0.3s;
}

.zip-group button:hover {
	background: #FFA200;
}

.authenticate-container .form-checkbox {
	padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

.authenticate-container .btn-submit {
	display: flex;
    background-color: #33A188;
    color: #fff;
    margin: 50px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.3s;
}

.authenticate-container .btn-submit:hover {
	background-color: #FFA200;
}

/* authenticate end */

/* order */

/* order end */