<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">

	<section class="common">
		<article>
			<div class="myPage-container">
				<div class="sidebar">
					<h2>관리자페이지</h2>
					<a th:href="@{/admin?tab=member}"
						th:class="${#strings.isEmpty(param.tab) or #strings.equals(param.tab, 'member') ? 'activeTab' : ''}">회원관리</a>
					<a th:href="@{/admin?tab=product}"
						th:class="${#strings.equals(param.tab, 'product') ? 'activeTab' : ''}">상품관리</a>
					<a th:href="@{/admin?tab=qna}"
						th:class="${#strings.equals(param.tab, 'qna') ? 'activeTab' : ''}">QnA</a>
					<a th:href="@{/admin?tab=order}"
						th:class="${#strings.equals(param.tab, 'order') ? 'activeTab' : ''}">주문현황</a>
					<hr>
				</div>

				<div class="content" id="content">
					<div class="admin-container member-list"
						th:if="${#strings.isEmpty(param.tab) or #strings.equals(param.tab, 'member')}">
						<div id="board-search" style="padding-bottom: 20px;">
							<div>
								<div class="rev-search">
									<form method="get">
										<div class="search-wrap">
											<label for="search" class="rev-blind">구매후기 검색</label> 
											<input type="text" size="45" id="keyword" name="keyword" th:value="${keyword}" placeholder="회원 이름을 입력해주세요.">
											<button type="submit" class="rev-search-btn">검색</button>
										</div>
									</form>
									<form method="get">
										<button type="submit" class="reset-btn">초기화</button>
									</form>
								</div>
							</div>
						</div>
						<table>
							<thead>
								<tr>
									<th>이름</th>
									<th>아이디</th>
									<th>Email</th>
									<th>생년월일</th>
									<th>핸드폰번호</th>
									<th>가입일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cust : ${custInfoPage.content}" onclick="selectRow(this)">
									<td th:text="${cust.custNm}"></td>
									<td th:text="${cust.custId}"></td>
									<td th:text="${cust.custEmail}"></td>
									<td th:text="${cust.CustBirth}"></td>
									<td th:text="${cust.custNo}"></td>
									<td th:text="${#temporals.format(cust.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
							</tbody>
						</table>
						<br />
						<div>
							<ul th:if="${custInfoPage.totalPages > 1}" class="pagination">
								<li th:class="${custInfoPage.first} ? disabled">
									<a
										th:href="@{${'/admin'}(page=0, size=${custInfoPage.size}, keyword=${keyword})}">&lt;&lt;</a>
								</li>
								<li th:class="${custInfoPage.first} ? disabled">
									<a
										th:href="@{${'/admin'}(page=${custInfoPage.number - 1}, size=${custInfoPage.size}, keyword=${keyword})}">&lt;</a>
								</li>
								<li th:each="pageNum : ${#numbers.sequence(0, custInfoPage.totalPages - 1)}"
									th:class="${pageNum == custInfoPage.number} ? active">
									<a th:href="@{${'/admin'}(page=${pageNum}, size=${custInfoPage.size}, keyword=${keyword})}"
										th:text="${pageNum + 1}"></a>
								</li>
								<li th:class="${custInfoPage.last} ? disabled">
									<a
										th:href="@{${'/admin'}(page=${custInfoPage.number + 1}, size=${custInfoPage.size}, keyword=${keyword})}">&gt;</a>
								</li>
								<li th:class="${custInfoPage.last} ? disabled">
									<a
										th:href="@{${'/admin'}(page=${custInfoPage.totalPages - 1}, size=${custInfoPage.size}, keyword=${keyword})}">&gt;&gt;</a>
								</li>
							</ul>
						</div>
						<button class="delete-btn">삭제</button>
					</div>
					<div class="admin-container" th:if="${#strings.equals(param.tab, 'product')}">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>상품명</th>
									<th>이미지</th>
									<th>기가</th>
									<th>기가 종류</th>
									<th>기기값</th>
									<th>요금제</th>
									<th>월가격</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${productList}" th:onclick="selectRow(this)">
									<td th:text="${product.id}"></td>
									<td th:text="${product.name}"></td>
									<td th:text="${product.image}"></td>
									<td>
										<span th:each="capacity : ${product.capacities}" th:text="${capacity}"></span>
									</td>
									<td th:text="${product.dscCapacity}"></td>
									<td th:text="${product.dscPrice}"></td>
									<td th:text="${product.fee}"></td>
									<td th:text="${product.finalPrice}"></td>
								</tr>
							</tbody>
						</table>
						<div class="admin-btnList">
							<button class="update-btn" onclick="showModal(this)">수정</button>
							<button class="delete-btn">삭제</button>
							<button class="add-btn">추가</button>
						</div>
						<div id="adminModal" class="modal">
							<div class="admin-modal">
								<div class="modal-title">
									<h2>상품 수정</h2>
									<span class="close" onclick="closeModal()">&times;</span>
								</div>
								<form>
									<div class="input-container">
										<label for="update-id">ID:</label>
										<input type="text" id="update-id" readonly>
									</div>

									<div class="input-container">
										<label for="update-name">상품명:</label>
										<input type="text" id="update-name">
									</div>

									<div class="input-container">
										<label for="update-image">이미지:</label>
										<input type="file" id="update-image">
									</div>

									<div class="input-container">
										<label for="update-capacity">기가:</label>
										<input type="text" id="update-capacity">
									</div>

									<div class="input-container">
										<label for="update-dscCapacity">기가 종류:</label>
										<input type="text" id="update-dscCapacity">
									</div>

									<div class="input-container">
										<label for="update-dscPrice">기기값:</label>
										<input type="text" id="update-dscPrice">
									</div>

									<div class="input-container">
										<label for="update-fee">요금제:</label>
										<input type="text" id="update-fee">
									</div>

									<div class="input-container">
										<label for="update-finalPrice">월가격:</label>
										<input type="text" id="update-finalPrice">
									</div>

									<button class="admin-save" onclick="closeModal()">저장</button>
								</form>
							</div>
						</div>
					</div>

					<div class="admin-container" th:if="${#strings.equals(param.tab, 'qna')}">
						<table>
							<thead>
								<tr>
									<th>문의분류</th>
									<th>답변 받을 이메일 주소</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="qna : ${outQnAList}" class="clickQna" th:data-target="'answer' + ${qna.id}">
									<td th:text="${qna.category}"></td>
									<td th:text="${qna.email}"></td>
								</tr>

							</tbody>
						</table>

						<div th:each="qna : ${outQnAList}" class="admin-answer" th:id="'answer' + ${qna.id}">
							<div class="answer-title">
								<form th:action="@{answrCmplt}" th:method="post">
									<input type="hidden" name="qna-id" th:value="${qna.id}">
									<p th:text="'분류 : ' + ${qna.category}"></p>
									<p th:text="'답변받을 이메일: ' + ${qna.email}"></p>
									<p class="answer-text" th:text="${qna.details}"></p>
									<input type = "submit" value="답변 완료">
								</form>
							</div>
						</div>

					</div>
					<div class="admin-container" th:if="${#strings.equals(param.tab, 'order')}">
						<table>
							<thead>
								<tr>
									<th>이름</th>
									<th>상품명</th>
									<th>주소</th>
									<th>상태</th>
								</tr>
							</thead>
							<tbody>
								<tr onclick="selectRow(this)">
									<td>오둥이</td>
									<td>갤럭시</td>
									<td>서울특별시 ~</td>
									<td>상품 준비 중</td>
								</tr>
							</tbody>
						</table>
						<div class="admin-btnList">
							<button class="ing-btn">배송 중</button>
							<button class="completed-btn">배송 완료</button>
						</div>
					</div>
				</div>
			</div>

		</article>
	</section>

</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/admin.js}"></script>
</th:block>


</html>