<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">

	<section class="common">
		<article>
			<div class="cart-container">
				<h1>장바구니</h1>
				<div th:if="${not #lists.isEmpty(cartItems)}">
					<ul>
						<li th:each="item : ${cartItems}">
							<p th:text="${item.id}"></p>
							<p th:text="${item.custBas.id}"></p>
							<p th:text="${item.intmBas.id}"></p>
						</li>
					</ul>
				</div>
				<div th:if="${#lists.isEmpty(cartItems)}" class="cart-null">
					<i data-feather="shopping-cart"></i>
					<h2>장바구니에 담은 상품이 없습니다.</h2>
					<a th:href="@{/}">메인 페이지로 이동</a>
				</div>
			</div>
		</article>
	</section>
</th:block>

</html>