<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="myPage-container">
				<div class="sidebar">
					<h2>마이페이지</h2>
					
					<a th:href="@{/myPage?tab=editMemberInformation}" id="menu1"
						th:class="${#strings.equals(param.tab, 'editMemberInformation') ? 'activeTab' : ''}">회원정보수정</a>
					<a th:href="@{/myPage?tab=feeCheck}" id="menu2"
						th:class="${#strings.equals(param.tab, 'feeCheck') ? 'activeTab' : ''}">요금조회</a>
					<a th:href="@{/myPage?tab=orderDetail}" id="menu3"
						th:class="${#strings.equals(param.tab, 'orderDetail') ? 'activeTab' : ''}">주문내역</a>
					<!-- 주문내역 > 배송조회 -->
					<a th:href="@{/myPage?tab=cart}" id="menu4"
						th:class="${#strings.equals(param.tab, 'cart') ? 'activeTab' : ''}">장바구니</a>
					<a th:href="@{/myPage?tab=wishlist}" id="menu5"
						th:class="${#strings.equals(param.tab, 'wishlist') ? 'activeTab' : ''}">찜한상품</a>
					<a th:href="@{/myPage?tab=inquiryDetail}" id="menu6"
						th:class="${#strings.equals(param.tab, 'inquiryDetail') ? 'activeTab' : ''}">문의내역</a>
					<hr>
				</div>
	
				<div class="content" id="content">
					<div class="rounded_rectangle" id="rounded_rectangle" th:if="${#strings.isEmpty(param.tab)}">
						<h1>*** 님, 환영합니다:)</h1>
						<div class="rounded_rectangle_2" id="rounded_rectangle_2">
							<div class="container">
								<div class="image-part">
									<img
										th:src="@{/images/smartphone_mypage.png}"
										alt="smartphone_mypage">
								</div>
								<div class="text-part">
									<h2>고객님은 현재 구매하신 모바일 기기가 없습니다.</h2>
									<a href="#" class="mobile_btn" id="mobile_btn">➜ 모바일 기기
										구매하러 가기</a>
								</div>
							</div>
							<hr>
							<div class="container">
								<div class="image-part">
									<img
										th:src="@{/images/smartphone_mypage.png}"
										alt="smartphone_mypage">
								</div>
								<div class="text-part">
									<h2>고객님은 현재 이용하시는 요금제가 없습니다.</h2>
									<a href="#" class="plan_btn" id="plan_btn">➜ 요금제 신청하러 가기</a>
								</div>
							</div>
						</div>
					</div>
					<div class="login-container" th:if="${#strings.equals(param.tab, 'editMemberInformation')}">
						<form action="#">
							<div class="input-container">
								<label for="name">이름</label> 
								<input type="text" id="name" name="name" value="Sample" readonly="readonly">
							</div>
							
							<div class="input-container">
								<label for="email">이메일</label>
								<input type="email" id="email" class="signup-email" name="email" value="sample@sample.com" readonly="readonly"> 
							</div>
							
							<div class="input-container">
								<label for="password">비밀번호</label>
								<div id="pw-container" class="pw-container">
									<input type="password" id="password" class="signup-password" name="password" value="*******" readonly="readonly"> 
									<button type="button" class="modify_btn" onclick="modifyPW()">수정</button>
								</div>
							</div>
							
							<div class="input-container">
								<div id="pw-modify-container" class="pw-modify-container modify">
									<label for="password">새 비밀번호</label> 
									<input type="password" name="newPassword" pattern=".{8,20}" required title="최소 8자 ~ 20자">
									<label for="password">비밀번호 확인</label> 
									<input type="password" name="newPassword" pattern=".{8,20}" required>
								</div>
							</div>
							
							<div class="input-container">	
								<label for="residentNumber">주민등록번호</label>
								<div class="residentNumber-container" style="display:flex">							
									<input type="text" id="residentNumber1" name="residentNumber1" value="123456" readonly="readonly"> 
										&nbsp;-&nbsp; 
									<input type="password" id="residentNumber2" name="residentNumber2" value="*******" readonly="readonly"> 
								</div>
							</div>
							
							<div class="input-container">
								<label for="phoneNumber">핸드폰 번호</label> 
								<div class="phone-container">
									<input type="text" id="phoneStart" name="phoneNumber" value="010" readonly="readonly">
									&nbsp;-&nbsp;
									<input type="text" name="phoneMiddle" maxlength="4" value="1234" readonly="readonly">
									&nbsp;-&nbsp;
									<input type="text" name="phoneEnd" maxlength="4" value="5678" readonly="readonly">
									<button type="button" class="modify_btn" onclick="phoneNumModify()">수정</button>
								</div>
							</div>
								
							<div class="input-container">
								<div id="phone-modify-container" class="phone-modify-container modify">
									<label for="phoneNumber">새 핸드폰 번호</label> 
									<div class="input-content">
										<select name="phonePrefix" class="phone-box">
										  <option value="kt">KT</option>
										  <option value="skt">SKT</option>
										  <option value="lg">LG</option>
										  <!-- 다른 번호도 추가 -->
										</select>
										<input type="text" name="phoneStart" maxlength="3" required>
										&nbsp;-&nbsp;
										<input type="text" name="phoneMiddle" maxlength="4" required>
										&nbsp;-&nbsp;
										<input type="text" name="phoneEnd" maxlength="4" required>	
									</div>
								</div>			
							</div>
							
							<div class="myPage-btn">
								<button class="selete-modify" type="submit">완료</button>
								<button class="delete-user" type="button">회원탈퇴</button>
							</div>
						</form>
					</div>
					<div class="content_2" id="content_2" th:if="${#strings.equals(param.tab, 'feeCheck')}">
						<img th:src="@{/images/stop.png}"
							alt="stop" style="width:20%" />
						<br>
						<h1>아직 오픈되지 않은 페이지 입니다.</h1>
					</div>
					<div class="content_3" id="content_3" th:if="${#strings.equals(param.tab, 'orderDetail')}">
						<div class="filter-box">
							<h4>기간별 주문내역 조회</h4>
							<!-- form 형태로 변경해야  -->
							<input type="date" name="startDate" id="startDate" /> 
							<label for="wave-sign"> ~ </label> 
							<input type="date" name="endDate" id="endDate" />
									
							<button type="button" class="date_btn" onclick="setThreeMonth()">3개월</button>
							<button type="button" class="date_btn" onclick="setSixMonth()"
								id="sixMonth">6개월</button>
							<button type="button" class="date_btn" onclick="setOneYear()"
								id="oneYear">1년</button>
							<button class="date_btn" id="filter_button">조회</button>
							<!-- <input type="submit" value="조회"> -->
	
						</div>
						<div class="result">
							<table>
								<thead>
									<tr>
										<th>주문 번호</th>
										<th>주문 일자</th>
										<th>상품명</th>
										<th>가격</th>
										<th>배송 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>2023-01-05</td>
										<td>상품 1</td>
										<td>10000원</td>
										<td>배송 완료</td>
									</tr>
									<tr>
										<td>2</td>
										<td>2023-02-10</td>
										<td>상품 2</td>
										<td>15000원</td>
										<td>배송 중</td>
									</tr>
									<!-- 주문 내역 데이터를 동적으로 생성하여 추가할 수 있습니다. -->
								</tbody>
							</table>
						</div>
					</div>
					<div class="content_4" id="content_4" th:if="${#strings.equals(param.tab, 'cart')}">
						<h1>장바구니</h1>
					</div>
					<div class="content_5" id="content_5" th:if="${#strings.equals(param.tab, 'wishlist')}">
						<h1>찜한상품</h1>
						
						<div>
							<ul>
								<li>
								<li th:each="wishList : ${wishList}">
									<a th:href="@{'/productDetail/' + ${wishList.id}}">
										<div>
											<img th:src="@{'/' + ${wishList.intmImgs[0].ImgPath}}" th:alt="${wishList.IntmKorNm}">
										</div>
										<div >
											<div class>
												<h3 th:text="${wishList.IntmKorNm}"></h3>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="content_6" id="content_6" th:if="${#strings.equals(param.tab, 'inquiryDetail')}">
						<div class="admin-container">
					        <table>
					            <thead>
					                <tr>
									<th>문의분류</th>
									<th>내용</th>
									<th>작성일</th>
									<th>답변</th>
					                </tr>
					            </thead>
					            <tbody>
								    <tr th:each="qna : ${qnaList}" class="clickQna" th:data-target="'answer' + ${qna.id}">
								        <td th:text="${qna.category}">Category</td>
								        <td th:text="${qna.title}">Title</td>
								        <td th:text="${qna.date}">Date</td>
								        <td>x</td>
								    </tr>
								</tbody>
					        </table>
					        	
					        <div th:each="qna : ${qnaList}" class="admin-answer" th:id="'answer' + ${qna.id}">
							    <div class="answer-title">
							        <p th:text="'분류: ' + ${qna.category}"></p>
							        <p th:text="'작성자: ' + ${qna.name}"></p>
							        <p th:text="'문의 일시: ' + ${qna.date}"></p>
							        <p class="answer-text" th:text="${qna.message}"></p>
							    </div>
							    
							    <div class="answer-body">
							        <form action="#" method="post">
							            <textarea name="answer" rows="4" cols="50" placeholder="답변을 입력하세요"></textarea>
							            <input type="submit" value="답변 제출">
							        </form>
							    </div>
							</div>
		                </div>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/myPage.js}" ></script>
</th:block>

</html>