<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
	<section class="common">
		<article>
			<div class="myPage-container">
				<div class="sidebar">
					<h2>마이페이지</h2>
					
					<a th:href="@{/myPage?tab=editMemberInformation}" id="menu1"
						th:class="${#strings.equals(param.tab, 'editMemberInformation') ? 'activeTab' : ''}">회원정보수정</a>
					<a th:href="@{/myPage?tab=feeCheck}" id="menu2"
						th:class="${#strings.equals(param.tab, 'feeCheck') ? 'activeTab' : ''}">요금조회</a>
					<a th:href="@{/myPage?tab=orderDetail}" id="menu3"
						th:class="${#strings.equals(param.tab, 'orderDetail') ? 'activeTab' : ''}">주문내역</a>
					<!-- 주문내역 > 배송조회 -->
					<a th:href="@{/myPage?tab=wishlist}" id="menu5"
						th:class="${#strings.equals(param.tab, 'wishlist') ? 'activeTab' : ''}">찜한상품</a>
					<hr>
				</div>
	
				<div class="content" id="content">
					<div class="rounded_rectangle" id="rounded_rectangle" th:if="${#strings.isEmpty(param.tab)}">
						<h1 th:value="${custInfo.custNm}">[[${custInfo.custNm}]] 님, 환영합니다:)</h1>
						<div class="rounded_rectangle_2" id="rounded_rectangle_2">
							<div class="container">
								<div class="image-part">
									<img
										th:src="@{/images/smartphone_mypage.png}"
										alt="smartphone_mypage">
								</div>
								<div class="text-part">
									<h2>
										<a th:href="@{/product}" class="mobile_btn" id="mobile_btn">모바일 기기 구경하러 가기</a>
									</h2>
								</div>
							</div>
							<hr>
							<div class="container">
								<div class="image-part">
									<img
										th:src="@{/images/smartphone_mypage.png}"
										alt="smartphone_mypage">
								</div>
								<div class="text-part">
									<h2>
										<a th:href="@{/phoneplan}" class="plan_btn" id="plan_btn">요금제 구경하러 가기</a>
									</h2>
								</div>
							</div>
						</div>
					</div>
					<!-- 회원정보수정 탭  -->
					<div class="login-container" th:if="${#strings.equals(param.tab, 'editMemberInformation')}">
						<div class="input-container">
							<label for="custId">아이디</label> 
							<input type="text" id="custId" name="custId" th:value="${custInfo.custId}" readonly="readonly">
						</div>
							
						<div class="input-container">
							<label for="name">이름</label> 
							<input type="text" id="name" name="name" th:value="${custInfo.custNm}" readonly="readonly">
						</div>
						
						<div class="input-container">
							<label for="email">이메일</label>
							<input type="email" id="email" class="signup-email" name="email" th:value="${custInfo.custEmail}" readonly="readonly"> 
						</div>
							
						<div class="input-container">
							<label for="password">비밀번호</label>
							<div id="pw-container" class="pw-container">
								<input type="password" id="password" class="signup-password" name="password" value="*******" readonly="readonly"> 
								<input type="hidden" id="existi-pw" th:value="${custInfo.custPassword}">
								<button type="button" class="modify_btn" onclick="modifyPW()">수정</button>
							</div>
						</div>
							
						<div class="input-container">
							<div id="pw-modify-container" class="pw-modify-container modify">
								<label for="password">새 비밀번호</label> 
								<input type="password" id="updatePw" name="newPassword" minlength="8" maxlength="20" required title="최소 8자 ~ 20자">
								<p style="font-size: 0.8em">* 최소 8자 ~ 20자 입력 가능합니다.</p>
								<p style="font-size: 0.8em">* 비밀번호는 문자, 숫자, 특수문자의 조합이어야 합니다.</p>
								<p style="font-size: 0.8em">* 사용 가능한 특수문자: *@$!%*#?&</p>
									
								<label for="password">비밀번호 확인</label> 
								<input type="password" id="chkPw" name="newPassword" pattern=".{8,20}" required>
								<div class="mismatch-message hide" style="color: red;">비밀번호가 일치하지 않습니다.</div>
								<div class="match-message hide" style="color: #33A188;">비밀번호가 일치합니다.</div>
							</div>
						</div>
							
						<div class="input-container">
							<label for="phoneNumber">핸드폰 번호</label> 
							<!--핸드폰 번호가 등록 되어 있을 때 -->
							<div class="phone-container" th:if="${custInfo.custNo != null}">
								<input type="text" id="phoneStart" name="phoneNumber" th:value="${#strings.arraySplit(custInfo.custNo, '-')[0]}" readonly="readonly">
								&nbsp;-&nbsp;
								<input type="text" name="phoneMiddle" maxlength="4" th:value="${#strings.arraySplit(custInfo.custNo, '-')[1]}" readonly="readonly">
								&nbsp;-&nbsp;
								<input type="text" name="phoneEnd" maxlength="4" th:value="${#strings.arraySplit(custInfo.custNo, '-')[2]}" readonly="readonly">
								<button type="button" class="modify_btn" onclick="phoneNumModify()">수정</button>
							</div>
							<!--핸드폰 번호가 등록 되어 있지 않을 때-->
							<div th:if="${custInfo.custNo == null}">
								<input type="text" value="비공개 입니다." readonly="readonly"> 
							</div>
						</div>
								
						<div class="input-container">
							<div id="phone-modify-container" class="phone-modify-container modify">
								<label for="phoneNumber">새 핸드폰 번호</label> 
								<div class="input-content">
									<input type="text" id="phoneStart" name="phoneStart" maxlength="3" value="010" readonly>
									&nbsp;-&nbsp;
									<input type="text" id="phoneMiddle" name="phoneMiddle" maxlength="4" required>
									&nbsp;-&nbsp;
									<input type="text" id="phoneEnd" name="phoneEnd" maxlength="4" required>	
								</div>
							</div>			
						</div>
							
						<div class="myPage-btn">
							<button class="selete-modify" type="button" onclick="updateCustInfo()">완료</button>
							<button class="delete-user" type="button" onclick="withdrawal()">회원탈퇴</button>
						</div>
					</div>
					
					<!-- 요금조회 탭 -->
					<div class="content_2" id="content_2" th:if="${#strings.equals(param.tab, 'feeCheck')}">
						<img th:src="@{/images/stop.png}"
							alt="stop" style="width:20%" />
						<br>
						<h1>아직 오픈되지 않은 페이지 입니다.</h1>
					</div>
					
					<!-- 주문내역 탭 -->
					<div class="content_3" id="content_3" th:if="${#strings.equals(param.tab, 'orderDetail')}">
						<div class="result">
							<table>
								<thead>
									<tr>
										<th>주문 번호</th>
										<th>주문 일자</th>
										<th>상품명</th>
										<th>가격</th>
										<th>배송 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="orders : ${ordersList}">
								        <td th:text="${orders.orderUid}"></td>
								        <td th:text="${orders.paymentDate}"></td>
								        <td th:text="${orders.intmKorNm}"></td>
								        <td th:text="${orders.price}"></td>
										<td th:if="${orders.status == T(com.team.mztelecom.domain.AllStatus).READY}">배송 전</td>
										<td th:if="${orders.status == T(com.team.mztelecom.domain.AllStatus).IN_PROGRESS}">배송 중</td>
										<td th:if="${orders.status == T(com.team.mztelecom.domain.AllStatus).COMPLETED}">배송 완료</td>
									</tr>
									<!-- 주문 내역 데이터를 동적으로 생성하여 추가할 수 있습니다. -->
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- 찜한 상품 탭 -->
					<div class="content_5" id="content_5" th:if="${#strings.equals(param.tab, 'wishlist')}">
						<h1>찜한상품</h1>
						
						<div class="product-item-list">
							<ul>
								<li th:each="wishList : ${wishList}" class="product-item">
									<a th:href="@{'/productDetail/' + ${wishList.id}}">
										<div class="thumb">
											<img th:src="|/intmimg/${wishList.id}|" th:alt="${wishList.IntmKorNm}">
										</div>
										<div class="cont">
											<div class="title">
												<h3 th:text="${wishList.IntmKorNm}"></h3>
											</div>
											<div class="cont-info">
												<p class="item-capacity">
													<span th:each="capacity : ${wishList.IntmGB}" class="capacity-con" th:text="${capacity}"></span>
												</p>
												<p class="dsc-item">
													<span class="dsc-title">휴대폰</span>
													<span class="dsc-cont"
														th:text="${#numbers.formatDecimal(wishList.IntmPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
												</p>
												<p class="dsc-item" th:if="${ratePlanOpnYn} == 'Y'">
							                        <span class="dsc-title">요금</span>
							                        <span class="dsc-cont" th:text="${wishList.fee} + '원/월'"></span>
							                    </p>
											</div>
											<div class="final-price">
												<span class="price-cont">
													<em class="num"
														th:text="${#numbers.formatDecimal(wishList.intmPrice[0], 0, 'COMMA', 0, 'POINT')}"></em><em
														class="unit"> 원/월</em>
												</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/myPage.js}" ></script>
</th:block>

</html>